<?xml version="1.0"?>
<robot name="usb_camera" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- COLOR -->
    <material name="Black">
         <color rgba="0 0 0 1" />
    </material>

    <material name="White">
         <color rgba="1 1 1 1" />
    </material>

    <!-- PROPERTY-->
    <xacro:property name="mass" value="0.1" />

    <xacro:macro name="usb_camera" >
       <link name="base_link">
            <inertial>
                <mass value="${mass}" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                         iyy="0.01" iyz="0.0"
                         izz="0.01" />
            </inertial>    
            
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.005 0.02 0.02" />
                </geometry>
                <material name="White"/>
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
                <geometry>
                    <box size="0.005 0.02 0.02" />
                </geometry>
            </collision>

       </link>

       <joint name="base_to_camera_joint" type="fixed">
            <parent link="base_link"/>
            <child link="usb_camera_link"/>
            <origin xyz="0 0 0" rpy="0 0 0" /> 
       </joint>

       <link name="usb_camera_link">
            <inertial>
                <mass value="${mass}" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                         iyy="0.01" iyz="0.0"
                         izz="0.01" />
            </inertial>

            <visual>
                <origin xyz=" 0 0 0 " rpy="0 0 0" />
                <geometry>
                    <box size="0.01 0.04 0.04" />
                </geometry>
                <material name="Black"/>
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
                <geometry>
                    <box size="0.01 0.04 0.04" />
                </geometry>
            </collision>

        </link>
    </xacro:macro>

</robot>
